<body>
  <div class="card mb-3" style="max-width: 10000px;margin-top: 50px;background-color:  #e5dedc;padding: 50px;">  
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/Persona.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Diego Mendoza</h5>
            <p class="card-text">Mis 18 los pase bomba y ahora soy emprendedor.</p>
          </div>
        </div>
      </div>
  </div>
  
  
  <div class="container">
    <div class="d-flex flex-wrap">
      <mat-card class="example-card mx-2 my-2" appearance="outlined" style="background-color: #e5dedc;">
        <img mat-card-xl-image src="assets/Parrilla.jpg" class="card-img-top" alt="Parrilla">
        <mat-card-content>
          <p class="card-text">Post <br> Más visto 1</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card mx-2 my-2" appearance="outlined" style="background-color: #e5dedc;">
        <img mat-card-xl-image src="assets/Parrilla.jpg" class="card-img-top" alt="Parrilla">
        <mat-card-content>
          <p class="card-text">Post <br> Más visto 1</p>
        </mat-card-content>
      </mat-card>   <mat-card class="example-card mx-2 my-2" appearance="outlined" style="background-color: #e5dedc;">
        <img mat-card-xl-image src="assets/Parrilla.jpg" class="card-img-top" alt="Parrilla">
        <mat-card-content>
          <p class="card-text">Post <br> Más visto 1</p>
        </mat-card-content>
      </mat-card>   <mat-card class="example-card mx-2 my-2" appearance="outlined" style="background-color: #e5dedc;">
        <img mat-card-xl-image src="assets/Parrilla.jpg" class="card-img-top" alt="Parrilla">
        <mat-card-content>
          <p class="card-text">Post <br> Más visto 1</p>
        </mat-card-content>
      </mat-card>   <mat-card class="example-card mx-2 my-2" appearance="outlined" style="background-color: #e5dedc;">
        <img mat-card-xl-image src="assets/Parrilla.jpg" class="card-img-top" alt="Parrilla">
        <mat-card-content>
          <p class="card-text">Post <br> Más visto 1</p>
        </mat-card-content>
        
      </mat-card>
  
      <!-- Puedes repetir este bloque para cada tarjeta adicional -->
    </div>
  </div>
  
  
  </body>