<body>
<div class="card mb-3" style="max-width: 10000px;margin-top: 50px;">  
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/Perfil.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Wentru</h5>
          <p class="card-text">Mis 18 los pase bomba y ahora soy emprendedor.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

  <div class="user-details-component" style="margin-top: 50px;">
      <div class="cards-container">
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/Glock.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Glock</h5>
            <p class="card-text">50 por bala</p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
          <img src="images/Abuelo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Abuelo</h5>
            <p class="card-text">Vendo al viejo (Recibo ofertas por el AK)</p>
          </div>
        </div>  
        <div class="card text-bg-danger mb-3" style="max-width: 10rem;">
          <img src="images/Pan.jpeg" class="card-img-top"  alt="...">
          <div class="card-body">
            <h5 class="card-title">Busco</h5>
            <p class="card-text">Busco a este ctm pa darle perdida</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/Parrilla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
  </div>
</body>