
<nav class="navbar navbar-expand-lg position-relative" style="background-color: #c2c1c1;" >
    <div class="container-fluid">
        <a mat-button routerLink="/" style="color: #e5421d;font-size: 22px;">Home</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a  mat-button style="color: #424141;" routerLink="/marketplace">Marketplace</a>
                </li>
                @if(this.isLoggedIn){
                    <li class="nav-item">
                        <a  mat-button style="color: #424141;" routerLink="/publish">Publicar</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- Dropdown -->
     @if(this.isLoggedIn){
        <button mat-button [matMenuTriggerFor]="menu" style="margin-right: 15px;font-size:20px;color: #e5421d;">Diego Mendoza</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">Perfil</button>
            <button mat-menu-item routerLink="/" (click) = "changeState()" >Cerrar sesión</button>
          </mat-menu>
     }
     @else{
        <button mat-button (click) = "changeState()" style="margin-right: 15px;font-size:20px;color: #e5421d;">Iniciar Sesion</button>
     }
    
</nav>
